.heading {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 50px;
}

.headerShadow img {
    margin-bottom: 15px;
    width: 100%;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.experienceItem {
    list-style-type: none;
    width: 49.2%;
    margin-bottom: 25px;
}

.timePeriodParagraph {
    color: #fff !important;
    font-size: 10px;
}