.jumbotron {
    width: 100%;
    height: 50vh;
    background: linear-gradient(to bottom right,#002f4b70,#3f51b57c), url(../../../assets/img/jumbo.jpg) no-repeat center;
    background-size: cover;
}
