.heading {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 75px;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.educationItem {
    list-style-type: none;
    width: 50%;
    margin-bottom: 25px;
}

.educationPaperLeft, .educationPaperRight {
    width: 96%;
    height: 180px;
    position: relative;
    padding: 30px;
    box-sizing: border-box
}

.educationPaperLeft::before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 15px solid transparent;
    content: " ";
}

.educationPaperRight::before {
    position: absolute;
    top: 26px;
    left: -15px;
    right: auto;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 15px solid transparent;
    content: " ";
    border-left-width: 0;
    border-right-width: 15px;
}