.section {
    width: 100%;
}

.timeline {
    width: 100%;
    margin-top: 25px;
    display: inline-block;
    position: relative;
    padding: 0;
}

/* Middle timeline line that runs down the center of the 'Experience' section */
.timeline::before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background: #ffffff;
    left: 50%;
    margin-left: -1.5px;
    -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
}