#aboutMeCard {
    margin-top: -25vh;
    margin-left: 17.5vw;
    width: 65vw;
    height: 50vh;
    border-radius: 0px;
    z-index: 100;
}

.aboutMeHeader {
    padding-bottom: 15px;
    position: relative;
}

.aboutMeHeader:after {
    position: absolute;
    display: inline-block;
    content: '';
    left: 0;
    width: 70px;
    height: 3px;
    border-bottom: 3px solid;
    border-color: #3f51b5;
    margin-top: 1.2em;
}

.body {
    box-sizing: border-box; /* includes margin (and border) in height calculation*/
    height: 87%;
    padding: 50px;
}

.circularPortrait {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.circularPortrait img {
    position: relative;
    width: 100%;
    height: auto;
}

.footer {
    height: 18%;
}