#aboutMeCard {
    margin-top: -25vh;
    margin-left: 17.5vw;
    width: 65vw;
    border-radius: 0px;
    z-index: 100;
}

.aboutMeHeader {
    padding-bottom: 15px;
    position: relative;
}

.aboutMeHeader:after {
    position: absolute;
    display: inline-block;
    content: '';
    left: 0;
    width: 65px;
    height: 3px;
    border-bottom: 3px solid;
    border-color: #3f51b5;
    margin-top: 1.2em;
}

.body {
    box-sizing: border-box; /* includes margin (and border) in height calculation*/
    height: 87%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.downloadResumeButton {
    position: absolute;
    z-index: 5;
    margin-left: -10px;
    margin-top: -10px;
}

.downloadResumeIcon {
    font-size: 18px;
}

.circularImageContainer {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.circularImageContainer:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 20px 4px rgba(0, 0, 0, 0.44);
    border-radius: 50%;
}

.circularImageContainer img {
    position: relative;
    width: 100%;
    height: 100%;
}

.aboutMeSection {
    padding-right: 50px;
}

.infoSpan {
    float: left;
    width: 80px;
    text-transform: uppercase;
    font-weight: bold;
}

.footer {
    height: 18%;
    text-align: center;
}

.footerButton {
    margin: 11px;
    display: inline-block;
}

.footerButtonIcon {
    font-size: 23px;
}

@media only screen and (max-width: 959px) {
    .aboutMeSection {
        padding: 35px;
        padding-top: 25px;
    }
}