.sectionBackground {
    background-color: rgb(252, 252, 252);
    width: 100%;
    height: auto;
    padding: 10px 0px;
}

.siteContainer {
    margin: 75px auto;
    max-width: 1280px;
    padding: 10px;
}

.heading {
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}

.headerShadow img {
    margin-bottom: 15px;
    width: 100%;
}

.subHeading {
    text-align: left;
    width: 100%;
    margin: 10px 0;
}